<!DOCTYPE html>
<html>

    <head>
        <!-- MDL css -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <!-- local css files -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/cvt-command.css">

        <!-- MDL js -->
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script> 

        <!-- Angular Material requires Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		
		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <!-- local Angular files -->
        <script src="js/odpApplication.js"></script>
        <script src="js/headerCtrl.js"></script>
        <script src="js/commandCtrl.js"></script>
        
        <script>
        	//if there is no session stored redirect to the login page to log in
			if(sessionStorage.username == undefined || sessionStorage.username == null)
				window.location.href="/login.html" ;
		</script>
    </head>

    <body ng-app="odpApplication">
         <div class="ODB-header" ng-controller="headerCtrl">
	    	<div layout="row" layout-align="space-between center">
	    		<div style="width:100px;"></div>
	           	<div>
	           		<img src="images/logo-openet.png"/>
	           	</div>
	           	<div>
	               <button class="mdl-button mdl-js-button user-menu-dropdown" id="user-menu">
	                   <i style="color:white;" class="material-icons menu-button-icon" >more_vert</i>
	               </button>
	
	               <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
	                       for="user-menu">
	                   <li class="menu_static">{{currentUser}}</li>
	                   <li class="mdl-menu__item" ng-click="redirect('demoCatalog.html#/main')">Demo Catalog</li>
	                   <li class="mdl-menu__item" ng-click="logout()">Logout</li>
	               </ul>
	          	</div>
	    	</div>
	    </div> 
        <div style="clear: both;"></div>

        <div >
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    <a href="#logs-panel" class="mdl-tabs__tab is-active">Logs</a>
                    <a href="#monitoring-panel" class="mdl-tabs__tab">Monitoring</a>
                    <a href="#settings-panel" class="mdl-tabs__tab">Settings</a>
                </div>
                <div class="command-body">
                    <div class="logs-panel mdl-tabs__panel is-active" id="logs-panel" ng-controller="logsctrl">
                    	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
							<thead>
								<tr>
									<th class="mdl-data-table__cell--non-numeric">User Name</th>
                                    <th class="mdl-data-table__cell--non-numeric">Date</th>
                                    <th class="mdl-data-table__cell--non-numeric">Action</th>
                                    <th class="mdl-data-table__cell--non-numeric">VIM</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="log in logs">
                                    <td >{{log.user}}</td>
                                    <td >{{log.timestamp}}</td>
                                    <td >{{log.action}}</td>
                                    <td >{{log.vim}}</td>
                                </tr>
							</tbody>
						</table>
                    </div>
                    <div class="mdl-tabs__panel" id="monitoring-panel">
                        <!-- TODO -->
                    </div>
                    <div class="settings-panel mdl-tabs__panel" id="settings-panel" ng-controller="settingsCtrl">
                        <form class="settings-form" action="">
                            <h1 class="form-title">Prefered VIM<hr></h1>
                            <table class="settings-form-table">
                                <tr>
                                    <th>Demo Id</th>
                                    <th>Openstack</th>
                                    <th>AWS</th>
                                </tr>
                                <tr ng-repeat="(key,value) in preferedVimSetting">
                                    <td>{{key}}</td>
                                    <td>
                                        <input type="radio" name="{{key}}" ng-model="value" value="openstack" />
                                    </td>
                                    <td>
                                        <input type="radio" name="{{key}}" ng-model="value" value="aws" />
                                    </td>      
                                </tr>
                            </table>
                            <hr>
                            <input type="submit" value="Save"/>  
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </body>

</html>