<!DOCTYPE html>
<html>

    <head>
        <!-- MDL css -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">

        <!-- local css files -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/demo-catalog.css">
        <link rel="stylesheet" type="text/css" href="css/demo-details.css">
        
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

        <!-- MDL js -->
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script> 
		
		<!-- Angular Material requires Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		
		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
        <!-- local Angular files -->
        <script src="js/odpApplication.js"></script>
        <script src="js/headerCtrl.js"></script>
        <script src="js/demoViewerCtrl.js"></script>

		<script>
		//if there is no session stored redirect to the login page to log in
			if(sessionStorage.username == undefined || sessionStorage.username == null)
				window.location.href="/login.html" ;
		</script>
  </head>

  <body ng-app="odpApplication">

    <div class="ODB-header" ng-controller="headerCtrl">
    	
    	<div layout="row" layout-align="space-between center">
    		<div style="width:100px;"></div>
           	<div>
           		<img src="images/logo-openet.png"/>
           	</div>
           	<div>
               <button class="mdl-button mdl-js-button user-menu-dropdown" id="user-menu">
                   <i style="color:white;" class="material-icons menu-button-icon" >more_vert</i>
               </button>

               <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       for="user-menu">
                   <li class="menu_static">{{currentUser}}</li>
                   <li ng-if="currentUserRole == 'cvt'" class="mdl-menu__item" ng-click="redirect('CVTCommand.html#/main')">CVT Command</li>
                   <li class="mdl-menu__item" ng-click="logout()">Logout</li>
               </ul>
          	</div>
    	</div>
 
    </div> 

    <div style="clear: both;"></div>

    <div class="demo-catalog" id="main" ng-controller="demoViewer">

        <table>
            <tr>

                <td>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect nav-button" ng-click="moveLeft()" >
                        <i style="color:white;" class="material-icons nav-button-icon">keyboard_arrow_left</i>
                    </button>
                </td>


                <td ng-repeat="demo in demoViewerData" ng-show="{{$index + 1}} >= curLow && {{$index + 1}} <= curHigh" align="center">
                    <div ng-class="demoTileClass" ng-click="showDetails(demo.demo_id)">
                        <img ng-src="{{demo.image_path}}"/>
                        <div class="demo-description">
                            <div class="demo-description-title">{{demo.title}}</div>
                            <hr>
                            <div class="demo-description-text">
                                {{demo.description}}
                            </div>
                        </div>
                    </div>
                </td>
                

                <td>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect nav-button" ng-click="moveRight()" >
                        <i style="color:white;" class="material-icons nav-button-icon">keyboard_arrow_right</i>
                    </button>
                </td>

            </tr>
        </table>
        
        

		<div ng-repeat="details in demoDetailsData" ng-hide="details.demo_id.valueOf() != currentSelected.valueOf()" ng-cloak>
			<md-content class="md-padding demo-details">
				<h1 class="md-toolbar-tools">{{details.title}}</h1>
				<!-- button to exit the details window -->
	            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect close-details-button"
	                    ng-click=closeDetails()>
	                <i class="material-icons">clear</i>
	            </button>
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Description">
						<md-tab-body>
							<h2 class="md-toolbar-tools">Description</h2>
							<p>{{details.description}}</p>
						</md-tab-body>
					</md-tab>
						<md-tab label="Video">
							<md-tab-body>
								<h2 class="md-toolbar-tools">Video</h2>
								<div ng-if="details.video_url != 'NULL'" class="demo-video" layout="row" layout-align="center center">
									<iframe ng-src={{details.video_url}} frameborder="0" allowfullscreen></iframe>
								</div>
							</md-tab-body>
					</md-tab>
					<md-tab label="Resources">
						<md-tab-body>
							<h2 class="md-toolbar-tools">Resources</h2>
							<ul ng-if="details.resources != 'NULL'" >
								<div ng-repeat="resource in details.resources">
									<li >
										<a ng-href="{{resource}}">{{resource}}</a>
									</li>
								</div>
							</ul> 
						</md-tab-body>
					</md-tab>
				</md-tabs>
				<div layout="row">
				<div ng-if="usersInstances.length == 0" class="demo-launch-controls"  layout="row" >
	              	<md-button class="md-primary md-raised" ng-click="confirmLaunch($event,details.demo_id)" >
			    		Launch Demo
		    		</md-button>
		  		   		</div>

		   		</div>
			    <div ng-if="status" id="status">
				    <b style="color:red;" layout="row" layout-align="center center" class="md-padding">
				      	{{status}}
				    </b>
				</div>
				<div ng-repeat="instance in usersInstances">
					<div ng-if="instance.demo_Id == details.demo_id">
						<b style="color:red;" layout="row" layout-align="center center" class="md-padding">
				      		You have already a launched instance {{instance.instance_Id}} on {{instance.vim}} for this demo
				    	</b>
			<div layout="row" layout-align="center center">
			   
			   	<div>
			              	<md-button class="md-warn md-raised" ng-click="confirmRelaunch($event,details.demo_id)" >
					    		Relaunch Demo
				    		</md-button>
				    		</div>
				    		<div>	    					    
			              	<md-button class="md-primary md-raised" ng-click="confirmLaunchNew($event,details.demo_id)" >
					    		Launch New Demo
				    		</md-button>
				    		</div>
				    	
			   		</div>
		</div>
			    
				</div>
			</md-content>
		</div>
  </body>
</html>