<!DOCTYPE html>
<html>
	<head>
		<!-- MDL css -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <!-- local css files -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/login.css">

        <!-- MDL js -->
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script> 

        <!-- Angular Material requires Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		
		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        
        <!-- local Angular files -->
        <script src="js/odpApplication.js"></script>
        <script src="js/loginCtrl.js"></script>
        
	</head>
	
	<body ng-app="odpApplication" >
		<div class="centered-container">
			<img src="images/logo-openet.png"/>
			
			<form ng-controller="loginCtrl" ng-submit="login(credentials)">
				<md-input-container md-no-float class="md-block">
		         	<input style="color:white;" ng-model="credentials.username" placeholder="username">
		        </md-input-container>
		        <md-input-container md-no-float class="md-block">
		         	<input style="color:white;" type="password" ng-model="credentials.password" placeholder="password">
		        </md-input-container>

				<input type="submit" value="login">
			</form>
			<div id="status">
			    <b style="color:white;" layout="row" layout-align="center center" class="md-padding">
			      	{{status}}
			    </b>
		  </div>
		</div>
    
	</body>
</html>