.command-body
{
    margin-right: 10% ;
    margin-left: 10% ;
}

.logs-panel
{
    margin: 25px 15px 25px 15px;
    background-color: rgba(255, 255, 255,1) ;
    position: relative
}

.logs-panel table
{
    width: 100%; 
}

.logs-panel table th
{
    font-style: bold ;
    background-color: rgba(128, 128, 128,0.3) ;
}

.logs-panel table td
{
    width: 33% ;
    text-align: left ;
}

.logs-panel table tr:nth-child(even)
{
    background-color: rgba(128, 128, 128,0.3) ;
}


.settings-panel 
{
    background-color: rgba(255, 255, 255,1) ;
    
}
.settings-form
{
    margin: 25px 15px 25px 15px;
    font-size: 15px ;
    position: relative ;
}

.settings-form input[type=radio]
{
    margin-bottom: 10px ;
    margin-left: 30px ;
    margin-right: 15px ;

}   
.settings-form fieldset
{
    border-color: black ;
}

.settings-form input[type=submit]
{
    width: 100% ;
    color: white;
    cursor: pointer;
    background-color: rgb(73, 97, 146) ;
    text-decoration: none;
    margin-top: 15px ;
    margin-bottom: 15px ; 
    border: none;
    padding: 20px 20px;
}

.settings-panel .form-title
{
    margin-top: 0px ;
    font-size: 25px ;
    margin-bottom: 0px ;
}

.settings-panel .form-title hr
{
    margin-top: 0px ;
}