.demo-catalog
{
    padding-top: 150px ;
}

.demo-catalog table
{
   /* border: 1px solid black ; */
    width: 100% ;
}

.demo-catalog td 
{
   /* border: 1px solid black ; */
}

.demo-tile 
{
    width: 300px;
    height: 200px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s all;
    transform-origin: center center ;
    background-color: white ;
     /*
      * when using transform it will draw a black outline on each frame of the transform
      * as we are using hover as our trigger and to go back to original after hover this black outline
      * stays drawing leaving a black box for each frame the transform scaled
      * Setting the outline manually and transparant will stop this 
     */
    outline: 1px solid transparent;
}
.demo-tile img
{
    width: 100% ;
    height: 100% ;
}

.demo-tile .demo-description
{
    position: absolute;
    width: 100% ;
    height: 100% ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255,0.7) ;
}

.demo-description .demo-description-title
{
    margin-top: 15px ;
    font-size: 25px ;
    font-weight: bold ;
}

.demo-description hr
{
    border-top: 1px solid black ;
}
.demo-description .demo-description-text
{
    text-align: justify;
    font-size: 12px ;
}

.demo-tile:hover 
{
    background-color: rgba(128, 128, 128,0.3) ;
    transform: scale(1.5) ;
}

.demo-tile:hover .demo-description
{
    text-align: justify;
    visibility: visible;
}

.demo-tile-selected
{
    width: 300px;
    height: 200px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s all;
    transform-origin: center center ;
    background-color: white ;
    outline: 1px solid transparent;
}

.demo-tile-selected img
{
    width: 100% ;
    height: 100% ; 
}

.demo-tile-selected .demo-description
{
    visibility: hidden;
}

.nav-button 
{
    font-size: 60px ;
    width: 20px;
    height: 200px;
    margin: 10px;  
}

.demo-video iframe
{
	width:560px ;
	height:315px ;
}

