.demo-details
{
    position: relative;
    transition: all linear 0.5s;
    width:90%;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255,1) ;
    color: rgba(0, 0, 0, 1);
}

.demo-details .demo-details-header
{
    position: absolute;
    font-size: 35px ;
    margin-top: 15px ;
    margin-left: 15px ;
    margin-bottom: 15px ;
}

.demo-details .close-details-button
{
    float:right;
}
.ng-hide 
{
    background-color: transparent;
    color: transparent;
}

.demo-launch-controls button
{
    position: absolute;
    bottom: 15px;
    left: 90% ;
    padding-bottom: 10px
    background-color: rgb(73, 97, 146);
}