form input[type=submit]
{
	
    width: 100% ;
    color: white;
    cursor: pointer;
    background-color: rgb(73, 97, 146) ;
    text-decoration: none; 
    border: none;
    padding: 10px 10px;
    position: relative ;
}

md-input-container.md-default-theme .md-input::-moz-placeholder, md-input-container .md-input::-moz-placeholder{
    color:white !important;
}