body {
	background-image: radial-gradient(circle at 51% 25%, #56a0d5, #496192);
}

.user-menu-dropdown {
    height: 60px ;
}

.ODB-header{
	border-top:20px;
	width:100%;
}

.centered-log
{
	height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-container {
    display: flex;          
    flex-direction: column;  
    justify-content: center;
    align-items: center; 
    height: 500px;
}

.menu_static{
    text-align: center ;
}

.menu-button-icon
{
    font-size: 60px ;
}

.nav-button-icon
{
    text-align: center ;
    font-size: 60px ;
}